# Python virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc
.data/
# IDE files
.idea/
.vscode/
.cache/
.env
*.log
*.html
data_.py
test.py
test1.py
test2.py
*.json
*.parquet
alpha_strategy.py
monitoring.py
legacy/
*.csv
*.png
LogBook.txt
test3.py
test4.py
test5.py
test6.py