# Python virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc

# IDE files
.idea/
.vscode/

.env
*.log
test.py
test1.py
test2.py
*.json
*.parquet
alpha_strategy.py
monitoring.py
legacy/
Logbook.txt